@model LawyerProject.Models.DB.CaseSubKind

@{
    ViewData["Title"] = "تفاصيل نوع الدعوى";
}

<h1 class="text-center text-secondary font-monospace">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseKind.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseKind.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model?.Id">تعديل</a> 
    <a class="btn btn-outline-info" asp-action="Index">أنواع الدعاوى</a>
</div>
