@model IEnumerable<LawyerProject.Models.DB.Tawkeel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaktabTawseek.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaktabTawseek.Name)
            </td>
            <td>
                    <a class="btn btn-outline-info" asp-controller="Tawkeel" asp-action="Edit" asp-route-id="@item.Id">تعديل</a>
                    <a class="btn btn-outline-info" asp-controller="Tawkeel" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a>
                    <a class="btn btn-outline-danger" asp-controller="Tawkeel" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
