@model IEnumerable<LawyerProject.Models.DB.CourtKind>

@{
    ViewData["Title"] = "نوع المحكمة";
}

<h1 class="text-center font-monospace text-secondary">@ViewData["Title"]</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">إضافة نوع محكمة</a>
</p>
<table class="table table-hover table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> 
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
