@model IEnumerable<LawyerProject.Models.DB.City>

@{
    ViewData["Title"] = "محافظة";
}


<p>
    <a class="btn btn-primary" asp-action="Create">إضافة محافظة جديدة</a>
</p>
<table class="text-center table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> 
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
