@model IEnumerable<LawyerProject.Models.DB.Case>


<table class="table table-hover table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseSubKind.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dayra.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseSubKind.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dayra.Name)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-controller="Case" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> 
                    <a class="btn btn-outline-info" asp-controller="Case" asp-action="Details" asp-route-id="@item.Id">نفاصيل</a>
                    <a class="btn btn-outline-danger" asp-controller="Case" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
