@model IEnumerable<LawyerProject.Models.DB.Client>


<table class="table table-hover table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalNo)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-controller="Client" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> 
                    <a class="btn btn-outline-info" asp-controller="Client" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a>
                    <a class="btn btn-outline-danger" asp-controller="Client" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
