@model IEnumerable<LawyerProject.Models.DB.CaseEnemy>


<table class="table table-hover table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.National)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.EnemyLawyer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Case.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.National)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.EnemyLawyer)
            </td>
            <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">تعديل</a> 
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
