
@model IEnumerable<LawyerProject.Models.DB.Client>

@{
    ViewData["Title"] = "الموكلين";
}
<h1 class="text-center text-secondary font-monospace">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">إضافة موكل جديد</a>
</p>
<table class="text-center table table-bordered table-hover table-striped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NationalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

                        <td>
                @Html.DisplayFor(modelItem => item.NationalNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">نعديل</a> 
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

